 {% load static %}        
            <section class="about-section section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-5 col-12">
                            <img src="{% static 'images/brijesh-shukla.jpg' %}" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-md-7 col-12">
                            <div class="custom-text-block">
                                <h2 class="mb-0">Brijesh Shukla</h2>

                                <p class="text-muted mb-lg-4 mb-md-4">Co-Founding Partner</p>

                                <p>Seeing the world through blurry eyes breaks my heart. At Sarathi Jansewa, we're not just providing glasses, we're restoring joy, independence, and the ability to fully engage with life.</p>

                                <p>Every pair of glasses gifted is a portal to a brighter future. It's a reminder that age shouldn't dim the beauty of the world, and kindness can illuminate even the darkest paths.</p>

                                <ul class="social-icon mt-4">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </section>