{% load static %}

            <section class="section-padding" id="feature">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 text-center mx-auto">
                            <h2 class="mb-5">किसी की आखों के सारथी बनें </h2>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="#" class="d-block">
                                    <img src="{% static 'images/icons/hands.png' %}" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text">Become a <strong>volunteer</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="#" class="d-block">
                                    <img src="{% static 'images/icons/eye.png' %}" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text"><strong>Caring</strong> for your Eyes</p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0 mb-md-4">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="#" class="d-block">
                                    <img src="{% static 'images/icons/receive.png' %}" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text">Make a <strong>Donation</strong></p>
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                            <div class="featured-block d-flex justify-content-center align-items-center">
                                <a href="#" class="d-block">
                                    <img src="{% static 'images/icons/participation.png' %}" class="featured-block-image img-fluid" alt="">

                                    <p class="featured-block-text"><strong>Participate in</strong> Camps</p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
