{% extends 'base/layout.html' %}
{% load static %}    
 
 {% block body%}
    {% block header%}
        {% include 'base/header.html' %}
    {% endblock %}

    {% block nav %}
        {% include 'base/nav.html' %}
    {% endblock %}

    {% block main %}
    <main>
        {% include 'base/hero-section.html' %}
        {% include 'base/feature.html' %}
        {% include 'base/story-mission.html' %}
        {% include 'base/founder.html' %}
        {% include 'base/cta-donation.html' %}
        {% include 'base/causes.html' %}
        {% include 'base/volunteer.html' %}
        {% include 'base/news-section.html' %}
        {% include 'base/testimonial.html' %}
        {% include 'base/contact.html' %}
    </main>
    {% endblock %}
    
    {% block footer %}
        {% include 'base/footer.html' %}
    {% endblock %}
{% endblock %}
